#wrapper{
	margin: 10em 0 0 10em;
}
.bubble{
	width:10em;
	height:7em;
	background-color: #0199d9;
	border:none;
	-webkit-border-radius:12px;
	-moz-border-radius:12px;
	border-radius:12px;
	position: relative;
}
.left-arrow {
  width: 0; 
  height: 0; 
  position: absolute;
  top:18px;
  left:-30px;
  border-top: 17px solid transparent;
  border-bottom: 17px solid transparent;  
  border-right:32px solid #0199d9; 
}